contactus ul {
    list-style-type: none;
    /* how do i get rid of the space where there would hypothetically be bullet points?? Or is the map just not following the position of all the other text*/
}

.rightcolumn {
    float: right;
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.leftcolumn {
    float: left;
    padding: 170px 10px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.contactcolumns {
    padding: 50px;
}