/* Bladerunner Font */
@font-face {
    font-family: bladerunner;
    src: url(bladerunner.TTF)
}

html {
    padding: 0;
    margin: 0;
  }  

body {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: bladerunner;
    color:#4169e1;
    font-size: 19pt;
    margin-bottom: 5px;
    padding: 0; 
}

body {
    font-family: sans-serif;
    font-size: 19pt;
    background-color: white;
}

h1 {
    color:#4169e1;
    font-size: 30pt;
    font-family: bladerunner;
    margin-bottom: 0px;
}

p {
    padding: 0;
    margin: 10px;
}


h3 {
    font-family: bladerunner;
    font-size: 20pt;
    color:#4169e1;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* footer style */
footer {
    background-color: #F1FA3D;
    bottom: 0;
    width: 100%;
    height: 13rem;
    overflow: hidden;
    margin: 0%;
    padding: 0;
    color: #4169e1;
    left: 0;
    right: 0;
    margin-top: 50px;
}
/* margin-top: 10px; */


.columns {
    display: flex;
    padding-top: 75px;
  }
  
.column {
    width: 33%;
  }

footer a {
   text-decoration: none;
   font-size: 25px;
   color: #4169e1;
}

footer a:visited {
    text-decoration: none;
    font-size: 25px;
    color: #4169e1;
}

footer a:hover {
    text-decoration: none;
    color: #4169e1;
    font-weight: bold;
}

/* Media styles: */
.gamelogos {
    width: 350px;
    margin: 10px;
}

.banner {
    background: royalblue;
    width: 100%;
    height: 10rem;
}

.banner h1 {
    color: #F1FA3D;
    text-align: center;
    margin: 0;
    font-size: 60px;
}

.bannertext {
    padding: 20px;
}