body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(//unsplash.it/1000/100);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    overflow: hidden;
    margin: 0;

}

Footer{
    background-color: #F1FA3D;
    position: absolute;
    bottom: -1;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    margin: 0;
}

Footer img {
    padding: 2%;
}
/* Footer h3 {
    font-size: 20px;
} */

.logo {
    text-align: center;
    color: white;
    padding: 0% 45%;
    top: 0%;
    position: fixed;
    margin: 0;
}
.logo-link{
    cursor: default;
}

/* navigation */
ul {
    list-style-type: none;
    text-wrap: nowrap;
    margin: 0;
    padding: 4rem 0rem;
    overflow: hidden;
    background-color: navy;
    position: fixed;
    height: 100%;
    width: 0%;
    transition: .5s;
    z-index: 0.5;

    
}
    li a{
        text-decoration: none;
        display: block;
        color: white;
        padding: 14px 16px;
    }
li{
    float: none;
}
li a:hover{
    background-color: rgb(45, 45, 227);
}

.big_wrapper{
    width: 30px;
    height: 30px;
    text-align: left;
    top: 1.3rem;
    left: 1rem;
    position: fixed;
    cursor: pointer;
    
}
.nav div{
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    transition: .3s;
}
.one{
    width: 30px;
}
.two{
    width: 15px;
}
.three{
    width: 20px;
}
.nav:hover div{
    width: 30px;
    
}
.nav-toggle:checked ~ nav ul{
    width: 200px;
    
}

.nav-toggle{
    display: none;
}
.nav-search{
    text-align: center;
}

.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
}

@media screen  and (max-width: 800px){
    body::-webkit-scrollbar{
        display: none;
    }
    .nav-toggle-lable {
        display: none;
    }
    .logo {
        padding: 0% 20%;
        position: absolute;
    }
    header{
        position: absolute;
    }
    .big_wrapper{
        position: absolute;
    }
    .nav-toggle:checked ~ nav ul{
        width: 200px;
        
    }
}